In [20]:
db =  [1,2,3,4,5,6]

In [45]:
db1 = list(range(1,33))

In [46]:
db1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

In [37]:

len(db1)

16

In [38]:
 len(db)

6

In [39]:
len(db1)/2

8.0

In [40]:
len(db)/2

3.0

In [41]:
import math

In [42]:
M = math.floor(len(db1)/2)

In [29]:
M

5

In [30]:
math.floor(5.5)

5

In [31]:

math.ceil(5.5)

6

In [32]:
db1[M]

6

In [33]:
def lw():
    for lw in db:
        print(lw*2)

In [34]:
lw()

2
4
6
8
10
12

In [50]:
math.log(256,2)

8.0