In [1]:
db = list(range(1,65))

In [2]:
db

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64]

In [3]:
def lwbs():
    for lw in db:
        print(lw*2)

In [4]:
lwbs()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128

In [5]:
type(db)

list

In [6]:
# index: search data
# linear search : O(n)
db.index(11)

10

In [7]:
db

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64]

In [8]:
len(db) - 1

63

In [9]:
dir(db)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
def lwbs(db, value):
    start = 0
    end = len(db) - 1
    middle = int( (start + end) / 2 )
    
    while not(db[middle]  ==  value) and start <= end:
        #value > middle
        #10 > 6
        if value > db[middle]:
            start =  middle + 1
        #2 > 6
        else:
            end  =  middle - 1
        middle = int( (start + end) / 2 )            
        print("Start:" , start , "end:" ,end , "middle:" ,middle)
            
    if db[middle] == value:
        print("found")
    else:
        print("Not found")
    print("Start:" , start , "end:" ,end , "middle:" ,middle)
    return 0;

In [19]:
lwbs(db , 63)

Start: 32 end: 63 middle: 47
Start: 48 end: 63 middle: 55
Start: 56 end: 63 middle: 59
Start: 60 end: 63 middle: 61
Start: 62 end: 63 middle: 62
found
Start: 62 end: 63 middle: 62

0

In [12]:
int(5.0)

5

In [13]:
db[5]

6